{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}


<div class="container px-4 pt-5 pb-5">
    <div class="row gx-5">
      {% for user in users %}
      <div class="col-4">
        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title" style="color: brown;">{{user.name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text">{{user.place}}</p>
              
              <a href="{{user.get_absolute_url}}" class="btn btn-primary">View</a>
              <a href="" class="btn btn-success">Edit</a>
              <a href="{% url 'web:delete' user.pk %}" class="btn btn-danger">Delete</a>
            </div>
          

        </div>
      </div>
      {% endfor %}
      
      
    </div>
  </div>




{% endblock %}