<div class="container px-4 pt-5 pb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Email</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.place }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{user.get_absolute_url}}"><button class="btn btn-success btn-sm">View</button></a>
                    <a href=""><button class="btn btn-primary btn-sm">Edit</button></a>
                    <a href="{% url 'web:delete_user' user.pk %}"><button class="btn btn-danger btn-sm">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>